@CHARSET "ISO-8859-1";
img.responsive-img, video.responsive-video {
    height: 50px !important;
    width: 50px;
    margin-top:2px;
}
.trtd {
    padding: 0px 5px;
    border: none;
}
#username,#batch_id{
	font-size: 14px;
	color: gray;
}
.profile{
	margin:5px;
	border: none;
}
nav {
    color: gray;
    background-color: #f5f5f5;
}
nav ul a {
    color: gray;
}
.btn {
    color: #fff;
    background-color: #64B5F6 !important;
    box-shadow:none;
}


span.badge.new{
	background-color: #64B5F6 !important;
}
[type="radio"]:not(:checked) + label, [type="radio"]:checked + label{
	margin-top:15px;
}
.destination_icon{
	line-height:20px;
}
.destination{
	color:gray !important;
}
label{
	color:gray;
}

#dateKtoP{
	border:2px;
}

h5 {
    margin: .5rem 0 1.4rem 0;
    color:#64B5F6 !important;
    }
 
.card{
	margin: 4.5rem 0 1rem 0;
}
#schedule{
	margin-top:50px;
}
.emergencyRequest{
	margin-top:25px;
}
table,tr,td,th{
	border: 1px solid gray;
	text-align: center;
}
[type="radio"]:checked + label::after, .with-gap[type="radio"]:checked + label::after{
	background-color:#64B5F6;
}





